[Unit]
Description=IoT Sensor Service
After=network.target

[Service]
User={{ iot_user }}
Group={{ iot_group }}
ExecStart=/bin/bash -c 'source /home/{{ iot_user }}/iot_env/bin/activate && python /home/{{ iot_user }}/sensor.py'
WorkingDirectory=/home/{{ iot_user }}/iot_env
Restart=always


[Install]
WantedBy=multi-user.target