[Unit]
Description=IoT Subscriber Service
After=network.target mosquitto.service

[Service]
User={{ iot_user }}
Group={{ iot_group }}
ExecStart=/home/{{ iot_user }}/subscriber.sh
Restart=always

[Install]
WantedBy=multi-user.target